/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap"); */
:root {
  --bg-color: #3d4246;
  --primary-color: 255, 255, 255;
  /* --default-text-color: #a7acb0; */
  --primary-text-color: 0, 0, 0;
  --secondary-text-color: 235, 110, 75;
}

* {
  list-style-type: none;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: url(./assets/cloudy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(var(--primary-text-color), 0.7);
}
